@import "variables";
@import "nosotros";

*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62,5%;
}

body{
    font-family: 'Roboto', sans-serif;
}


.bg-blacks{
    background-color: $colorPrincipal;
}


.nav-link{
    color: $colorLetras;
}

.bg-bodys{
    background-color: $colorSecundario;
}

.btn-primary{
    --bs-btn-bg: $colorPrincipal;
    --bs-btn-border-color: $colorPrincipal;
    --bs-btn-hover-bg: $colorPrincipal;
    --bs-btn-hover-border-color: $colorPrincipal;
    --bs-btn-active-bg: $colorPrincipal;
    --bs-btn-active-border-color: $colorPrincipal;
    --bs-btn-active-shadow: $colorPrincipal;
    --bs-btn-disabled-bg: $colorPrincipal ;
    --bs-btn-disabled-border-color: $colorPrincipal;
}